
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

body p {
  font-size: 1rem;    
}

.container {     
  display: grid;
  min-height: 90vh;
  place-items: center;
  margin-bottom: 20px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 20rem;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 5px 9px 15px 0px hsla(218, 44%, 5%, 0.15);
}

.imgqr {
  border-radius: 10px;
  max-width: 100%;
  display: block
}

.text {
  margin:10px 0;  
}

.text p {
  margin-top: 10px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-bottom: 20px ;
}